.main{
    margin-left: 180px;
    margin-bottom: 100px;
    .title{
        margin-top: 15px;
        color:rgb(145, 137, 137);
        .titleTwo{
            margin-left: 330px;
        }
        .titleThree{
            margin-left: 150px;
        }
    }
    .line{
        margin-top: 10px;
        border-bottom: 1px solid rgb(189, 176, 176);
        width: 700px;
        margin-bottom: 10px;
    }
}
.product{
    display: flex;
    align-items:center;
    h3{
        width: 300px;
        margin-left: 10px;
    }
    .price{
        margin-left: 150px;
    }
}
.mainProduct{
    margin-top: 20px;
}
.trash{
    margin-left: 20px;
}
.order{
    position: relative;
    border: 0px solid black;
    width: 320px;
    height: 280px;
    border-radius: 10px;
    margin-left: 40px;
    -webkit-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
     h4{
        margin-left: 20px;
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
     }
     h2{
        margin-top: 20px;
        font-size: 35px;
        margin-left: 20px;
        font-weight: 900;
     }
     .line{
        margin-top: 30px;
        border-bottom:1px solid rgb(175, 154, 154);
        width: 320px;
     }
     .car{
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        img{
            height: 30px;
        }
        div{
            margin-left: 20px;
            color: #A1A1A1;
            font-size: 14px;
        }
     }
}
.flex{
    display: flex;
}
.img{
    position: absolute;
    top: 0;
    left: 200px;
    width: 120px;
}
.btnOrder{
    cursor: pointer;
    margin-left: 37px;
    margin-top: 30px;
    height: 30px;
    border: 0px solid black;
    width: 240px;
    text-align: center;
    padding-top: 5px;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    color:white;
    font-family: 'Mont';
}