.producs {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.imgMain {
  margin-left: 60px;
  margin-bottom: 20px;
    img{
        -webkit-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
        box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
    }
  .parent {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    .child {
      position: absolute;
      top: 0px;
      left: 250px;
      cursor: pointer;
    }
  }
}
.title {
  display: flex;
  align-items: flex-end;
  font-family: 'Mont';
    h4{
        margin-left: 55px;
        font-size: 25px;
    }
}
.main{
  margin-left: 60px;
  margin-bottom: 50px;
  .flex{
      display: flex;
      justify-content: space-between;
      align-items:center;
  }
  input{
      width: 200px;
      height: 30px;
      border:0px;
      border-bottom:2px solid black;
      &:hover{
          border:0px;
          border-bottom:2px solid black;
      }
  }
  .line{
      border-bottom:1px solid rgb(179, 169, 169);
      width: 1050px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
}
.sorting{
  position: relative;
  cursor: pointer;
  
  .sortingChild{
      position: absolute;
      left: 10px;
      top: 30px;
      z-index: 5;
  }
}
.input{
  position: relative;
}
.iconsX{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  z-index: 5;
  cursor: pointer;
}