.producs {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin-left: 120px;
  margin-top: 20px;
}
.imgMain {
  margin-left: 60px;
  margin-bottom: 20px;
    img{
        -webkit-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
        box-shadow: -4px 3px 20px -2px rgba(34, 60, 80, 0.2);
    }
  .parent {
    position: relative;
    .child {
      position: absolute;
      top: 0px;
      left: 250px;
      cursor: pointer;
    }
  }
}
.title {
  display: flex;
  align-items: flex-end;
  font-family: 'Mont';
    h4{
        margin-left: 55px;
        font-size: 25px;
    }
}
