.slid{
    .slick-next {
        right: 25px;
        background-color:rgb(184, 179, 179);
    }
    .slick-prev {
        left: 25px ;
        z-index: 100;
        background-color:rgb(184, 179, 179);
    }
   
}