.main{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:rgb(247, 243, 243);
      h2{
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Lighthaus';
      }
      .imgMain{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 80px;
    &:hover{
            transform: translateY(-5px);
        }
        .title{
            display: flex;
            align-items:flex-end;
            font-family: 'Mont';
            h4{
                margin-left: 55px;
                font-size: 25px;
            }
        }
        p{
            margin-top: 10px;
        }
      }
      img{
       -webkit-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        &:hover{
            -webkit-box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
            -moz-box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
            box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
        }
      }  
    .btn{
        font-size: 15px;
        font-weight: 600;
        color:#FFFFFF;
        margin: 0% auto;
        text-align: center;
        margin-top: 50px;
        border: 1px solid #FFFFFF;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        width: 280px;
        height: 30px;
        padding-top: 10px;
        cursor: pointer;
    }
}
.parent{
  position: relative;
  .child{
    position: absolute;
    top:0px;
    left: 250px;
    cursor: pointer;
  }
}