.main{
    height: 300px;
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
    .footerFirsPart{
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        color:white;
        .footerLogo{
            margin-top: 10px;
            cursor: pointer;
        }
        p{
            margin-top: 10px;
        }
        h5{
            margin-top: 10px;
            border-bottom: 1px solid white;
        }
    .footerSecondPart{
        display: flex;
        color:aliceblue;
      ul{
        margin-left: 50px;
        .titleBig{
            font-size: 20px;
            font-weight: 700;
        }
        li{
            list-style: none;
            margin-top: 10px;
            cursor: pointer;
        }

      }
    }
    }
}
