.main{
    margin-left: 180px;
    padding-top: 10px;
    h1{
        padding-top: 10px;
        margin-right: 15px;
    }
  }
  .link{
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .linkk{
    font-weight: 900;
  }