.main{
    position: relative;
    img{
        width: 100%;
    }
    .flex{
        position: absolute;
        top: 110px;
        left: 270px;
        display: flex;
        width: 700px;
        font-size: 14px;
        padding-left: 20px;
        color:white;
    }
}