.main{
    margin-bottom: 50px;
}
.title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lighthaus';
}
.imgMain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 230px;
    color:#FFFFFF;
    .img_title{
        position: relative;
        width: 300px;
        height: 350px;
        margin: 10px;
        cursor: pointer;
        &:hover{
            transform: translateY(-5px);
        }
        .overflow{
            position: absolute;
            top: 0px;
            bottom:0;
            left: 0;
            right: 0;
            background-color:black;
            opacity: .2;
        }
    }
    img{
        width: 100%;
        height: 100%;
       -webkit-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        -moz-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.11);
        &:hover{
            -webkit-box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
            -moz-box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
            box-shadow: 0px 1px 22px 13px rgba(34, 60, 80, 0.11);
        }
       
    }
    p{
        position: absolute;
        bottom: 30px;
        left:60px;
        color:yellow;
        font-size: 20px;

    }
}